In [20]:
#Import the pandas library
import pandas as pd

In [21]:
# Importing the two datasets for performance benchmarking
df11 = pd.read_csv("C:\\Users\\Zacch\\Documents\\INST 414 & 447\\Project 1\\2011_Performance_Benchmarking.csv")
df12 = pd.read_csv("C:\\Users\\Zacch\\Documents\\INST 414 & 447\\Project 1\\2012_Performance_Benchmarking.csv")

In [22]:
df11.columns

Index(['DC_Real_Property_ID', 'Address_of_Record', 'Owner_of_Record', 'Ward',
       'Year', 'Property_Name', 'Address_1', 'Postal_Code',
       'Primary_Property_Type', 'Year_Built',
       '_Reported_Building_Gross_Floor_Area_ft_', 'Site_EUI_kBtu/ft',
       'Weather_Normalized_Source_EUI_kBtu/ft', 'ENERGY_STAR_Score',
       'Total_GHG_Emissions_MtCO2e',
       'Electricity_Use_-_Grid_Purchase_and_Onsite_kWh',
       'Natural_Gas_Use_therms'],
      dtype='object')

In [23]:
df12.columns

Index(['DC_Real_Property_ID', 'Address_of_Record', 'Owner_of_Record', 'Ward',
       'Year', 'Property_Name', 'Address_1', 'Postal_Code',
       'Primary_Property_Type', 'Year_Built',
       '_Reported_Building_Gross_Floor_Area_ft_', 'Site_EUI_kBtu/ft',
       'Weather_Normalized_Source_EUI_kBtu/ft', 'ENERGY_STAR_Score',
       'Total_GHG_Emissions_MtCO2e',
       'Electricity_Use_-_Grid_Purchase_and_Onsite_kWh',
       'Natural_Gas_Use_therms'],
      dtype='object')

In [24]:
benchmark = pd.concat([df11,df12],axis=0, ignore_index=True)

In [25]:
benchmark.info()
benchmark.shape

# Question 1: Number of columns and rows
#  - 17 columns and 796 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 17 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   DC_Real_Property_ID                             794 non-null    object
 1   Address_of_Record                               775 non-null    object
 2   Owner_of_Record                                 775 non-null    object
 3   Ward                                            796 non-null    int64
 4   Year                                            796 non-null    int64
 5   Property_Name                                   796 non-null    object
 6   Address_1                                       796 non-null    object
 7   Postal_Code                                     796 non-null    int64
 8   Primary_Property_Type                           796 non-null    object
 9   Year_Built                                      795 non-null    float64
 10  _Reported_Building_Gross_Floor_Area_ft_         796 non-null    object
 11  Site_EUI_kBtu/ft                                796 non-null    object
 12  Weather_Normalized_Source_EUI_kBtu/ft           731 non-null    object
 13  ENERGY_STAR_Score                               788 non-null    float64
 14  Total_GHG_Emissions_MtCO2e                      796 non-null    float64
 15  Electricity_Use_-_Grid_Purchase_and_Onsite_kWh  693 non-null    float64
 16  Natural_Gas_Use_therms                          373 non-null    float64
dtypes: float64(5), int64(3), object(9)
memory usage: 105.8+ KB

(796, 17)

In [26]:
benchmark = benchmark.drop_duplicates(keep="first")

In [27]:
benchmark.shape

(796, 17)

In [28]:
# Question 2:

# Casting the gross floor area object into numeric 
benchmark['_Reported_Building_Gross_Floor_Area_ft_']= benchmark['_Reported_Building_Gross_Floor_Area_ft_'].str.replace(',','')
benchmark['_Reported_Building_Gross_Floor_Area_ft_']= benchmark['_Reported_Building_Gross_Floor_Area_ft_'].astype(int)

In [29]:
benchmark.dtypes

DC_Real_Property_ID                                object
Address_of_Record                                  object
Owner_of_Record                                    object
Ward                                                int64
Year                                                int64
Property_Name                                      object
Address_1                                          object
Postal_Code                                         int64
Primary_Property_Type                              object
Year_Built                                        float64
_Reported_Building_Gross_Floor_Area_ft_             int32
Site_EUI_kBtu/ft                                   object
Weather_Normalized_Source_EUI_kBtu/ft              object
ENERGY_STAR_Score                                 float64
Total_GHG_Emissions_MtCO2e                        float64
Electricity_Use_-_Grid_Purchase_and_Onsite_kWh    float64
Natural_Gas_Use_therms                            float64
dtype: object

In [30]:
benchmark.tail()

,DC_Real_Property_ID,Address_of_Record,Owner_of_Record,Ward,Year,Property_Name,Address_1,Postal_Code,Primary_Property_Type,Year_Built,_Reported_Building_Gross_Floor_Area_ft_,Site_EUI_kBtu/ft,Weather_Normalized_Source_EUI_kBtu/ft,ENERGY_STAR_Score,Total_GHG_Emissions_MtCO2e,Electricity_Use_-_Grid_Purchase_and_Onsite_kWh,Natural_Gas_Use_therms
791,Not Available*,NaN,NaN,8,2012,1275 Penn Ave NW,12745 Penn Avenue NW,20004,Office,1956.0,238380,73.1,227.5,63.0,2205.60,5104647.0,NaN
792,PAR01200034,125 MICHIGAN AV,TRINITY COLLEGE,5,2012,Alumnae and Main Hall,125 Michigan Ave. NE,20017,College/University,1910.0,290700,83.4,156.2,0.0,1891.81,1995047.1,174410.100
793,"PAR01290070, PAR01410069",800 FLORIDA AV,GALLAUDET UNIVERSITY,5,2012,Gallaudet University,800 Florida Avenue N.E.,20002,College/University,1864.0,3015594,79.8,157.7,NaN,20220.30,29689360.0,1392814.908
794,PAR01330131,3211 4TH ST NE,UNITED STATES CONFERENCE OF CATHOLIC BISHOPS,5,2012,The Catholic University of America,620 Michigan Avenue NE,20064,College/University,1889.0,2152094,134.8,265.1,NaN,26127.70,30049680.0,974989.976
795,PAR01330131,3211 4TH ST NE,UNITED STATES CONFERENCE OF CATHOLIC BISHOPS,5,2012,US Conf catholic Bishops,3211 4th st NE,20017,Office,1988.0,190000,72.4,198.6,72.0,1610.10,2905382.8,37816.200

In [31]:
#Question 3: Based on the output the unviversity has the most average floor area while having the lowest count
# On the other hand the offices has the highest count with an average that is only slightly above the multifamily housing
round(benchmark.groupby('Primary_Property_Type')._Reported_Building_Gross_Floor_Area_ft_.describe(),2)

,count,mean,std,min,25%,50%,75%,max
Primary_Property_Type,,,,,,,,
College/University,42.0,686313.98,958926.88,150176.0,211231.25,290321.0,420653.00,3543436.0
Hotel,45.0,481041.96,339280.91,159857.0,260566.00,306123.0,643725.00,1600000.0
Multifamily Housing,183.0,340482.32,194628.49,154532.0,218574.50,267750.0,387450.00,988819.0
Office,526.0,363385.55,235961.32,150161.0,221724.25,303706.5,417319.75,2000000.0

In [32]:
# Question 4: Pivot Table
# A: The highest is the University and the lowest is the multifamily housing across the two years
# B: Yes, there is a reduction in emmisons between the years 
import numpy as np
table = pd.pivot_table(benchmark, values=['Total_GHG_Emissions_MtCO2e'], index=['Year','Primary_Property_Type'], aggfunc={'Total_GHG_Emissions_MtCO2e': np.mean})
print(table)

                            Total_GHG_Emissions_MtCO2e
Year Primary_Property_Type
2011 College/University                    8743.610588
     Hotel                                 4866.587000
     Multifamily Housing                   1412.858000
     Office                                3158.135695
2012 College/University                    6100.068800
     Hotel                                 4510.186800
     Multifamily Housing                   1188.852920
     Office                                3479.469505

In [33]:
#Question 5: three categories
benchmark['Property_Age'] = pd.cut(benchmark['Year_Built'],bins=[1864,1965,1996,2011], labels=['Ancient','Old','Relatively new'])
benchmark['Property_Age'].value_counts()

#Question 6:

#Ancient- 199

#Old- 397

#Relatively new- 197

Old               397
Ancient           199
Relatively new    197
Name: Property_Age, dtype: int64

In [46]:
# Question 7:
new_benchmark = benchmark[['Ward', 'Primary_Property_Type','ENERGY_STAR_Score' ]]
new_benchmark.set_index('Ward', inplace = True)

In [47]:
new_benchmark1 = new_benchmark.loc[[2,3], ['Primary_Property_Type', 'ENERGY_STAR_Score' ]]

In [51]:
new_benchmark1.groupby(['Ward','Primary_Property_Type'])[['Primary_Property_Type','ENERGY_STAR_Score']].mean()

                            ENERGY_STAR_Score
Ward Primary_Property_Type
2    College/University             33.636364
     Hotel                          39.571429
     Multifamily Housing             0.000000
     Office                         60.453333
3    College/University             38.200000
     Hotel                          32.250000
     Multifamily Housing             0.000000
     Office                         53.187500